:root {
  --text-light: #eee;
  --text-dark: #1a1a1a;
  --subtitle: #888;
  --background: #010101;
  --background-accent:#1a1a1a;
  --line: #ccc;
  --accent: #ff9900;
  --link-light: #66fcf1;
  --link-dark: #3faef5;
}

body, html {
  font-family: 'Courier New', monospace;
  background-color: var(--background);
  color: var(--text-dark);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(90vmin, 100vw);
  height: min(90vmin, 100vh);
  background: var(--background);
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2rem;
  border: 1px solid var(--line);
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}
.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--background);
  padding: 1rem 1rem 0.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-bottom: 1px solid var(--text-dark);
}
.body {
  overflow-y: auto;
  flex: 1;
  padding: 1rem;
}
footer {
  position: sticky;
  bottom: 0;
  z-index: 10;
  background: var(--background);
  padding: 0.75rem 1rem;
  color: var(--text-light);
  text-align: center;
  border-top: 1px solid var(--text-dark);
}
footer a {
  color: var(--link-light);
}

h1,
h2 {
  font-weight: 600;
  margin-top: 1.5em;
  line-height: 1.2;
  color: var(--text-light);
  border-bottom: 2px solid var(--line);
}

h1 {
  font-size: 2.2rem;
  text-align: center;
}
h2 {
  font-size: 1.6rem;
  padding: 10px;
  background-color: var(--background-accent);
  border-top: 2px solid var(--text-dark);
  border-left: 2px solid var(--text-dark);
  border-right: 2px solid var(--text-dark);
  border-bottom: 3px solid var(--line);
  margin-top: 40px;
}

.subtitle {
  color: var(--subtitle);
  margin-top: 0;
  font-size: 1.2rem;
  text-align: center;
  border-bottom: none
}

p, li {
  font-size: 1rem;
  color: var(--text-light);
}

a {
  font-size: 1rem;
  color: var(--link-dark);
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}

.projectList,
.legacyList {
  list-style-type: none;
  padding-left: 0;
}

.projectList li,
.legacyList li {
  margin: 12px 0;
  line-height: 1.6;
  position: relative;
  background-color: var(--background-accent);
  padding: 10px;
  border-left: 2px solid var(--line);
  transition: transform 0.2s ease-in-out;
}

.projectList li:hover,
.legacyList li:hover {
  transform: scale(1.02);
}

.badge {
  display: inline-block;
  background-color: var(--accent);
  color: var(--text-light);
  padding: 0.3em 0.6em;
  border-radius: 0.5em;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.85rem;
  margin-top: 0.5em;
  margin-left: 6px;
}

.badge.red:hover { background-color: #e74c3c; }
.badge.green:hover { background-color: #2ecc71; }
.badge.gold:hover { background-color: #f1c40f; }

.description,
.hoverDescription {
  display: none;
  font-size: 0.9em;
  color: var(--text-dark);
  margin-top: 5px;
  font-style: italic;
}

.projectList li .project-description,
.legacyList li .project-description {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, height 0.3s ease;
}
.projectList li:hover .project-description,
.legacyList li:hover .project-description {
  opacity: 1;
  height: auto;
}

.legacyList {
  overflow: hidden;
  transition: max-height 0.3s ease;
}

/* Dropdown functionality */
.collapsible {
  cursor: pointer;
  user-select: none;
  transform: background-color 0.2s ease;
}

.collapsible:hover {
  background-color: var(--text-dark);
}

.collapsible::after {
  content: " ▼";
  float: right;
  transition: transform 0.3s ease;
}

.collapsible.active::after {
  transform: rotate(180deg);
}

/* Hidden list */
.legacyList.hidden {
  display: none;
}
